.wrapper {
  margin: auto;
  max-width: 500px;
  position: relative;
  height: 100vh;
}

.wrapper[data-theme="normal"] {
  --toggle-active: var(--green);
  --correct: var(--green);
  --present: var(--yellow);
}

.wrapper[data-theme="contrast"] {
  --toggle-active: var(--orange);
  --correct: var(--orange);
  --present: var(--light-blue);
}
