.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 10px 0px;
}

.gameBoard {
  max-width: 300px;
  max-height: 600px;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
}
